!!! 5
%head
  %title First App H31
  = stylesheet_link_tag     'application'
  = javascript_include_tag  'application'
  = csrf_meta_tags

%body
  %p.notice= notice
  %p.alert= alert
  %nav{ style: 'float: right;' }
    %ul
      - if Rails.env.development?
        %li dev, bitch!
      - else
        %li not yet!

  %section#content= yield