!!! 5
%head
  %title FirstAppH31
  = stylesheet_link_tag     'application'
  = javascript_include_tag  'application'
  = csrf_meta_tags
%body
  %p.notice= notice
  %p.alert= alert
  %nav
    %ul
      - if Rails.env.development?
        %li 'dev, bitch!'
      - else
        %li 'not yet!'

  %section#content= yield